# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.2DPlatformer.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\shach\IdeaProjects\2DPlatformer\.idea\.idea.2DPlatformer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
